{% extends 'layout.html' %}
{% import 'macros/progress_bar.html' as progress_bar %}

{% block content %}
<script src="{{ url_for('static', filename='js/products.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/products_product.js')}}" defer></script>
{% if product.images %}
{% set product_background = url_for('static',filename=product.images[0].path) %}
{% else %}
{% set product_background = url_for('static',filename='images/products/no_product.jpg') %}
{% endif %}
<div class="product_background"  style="background:url('{{product_background}}');"> 
  <div class="product_container_column">
    {% if contribution %}
      <div class="contribution_thank_you">
        {{contribution.thank_you_message()}}
      </div>
    {% endif %}
    <div class="preco">
    
      <p><b>{{product.name}}</b></p>
      {% if product.description %}
        <p>{{product.description}}</p>
      {% endif %}
      <p>Preço: {{product.price}}€ </p>
      <p>Valor em falta: {{product.missing_value()}}€</p>      
      {{progress_bar.progress_bar(product.calculate_percentage()|int)}}
    </div>
    
    <form method="post">
      <div class="form" id="form_contri">
        <div class ="info">    
          <input type="text" name="name" placeholder="Nome">
          <input type="text" name="value_to_contribute" placeholder="Valor a contribuir">
          <input type="text" name="message" placeholder="Mensagem para os noivos..." style="height:60px">
        </div>

        <div class="transfer_type">
          <img src="{{ url_for('static', filename='images/mbway_logo.png')}}" class="transfer_type_images">
          <div> MB Way: 912913005 | 918966340 </div>
        </div>

        <div class="transfer_type">
          <img src="{{ url_for('static', filename='images/transfer_logo.png')}}" class="transfer_type_images">
          <div>  IBAN: PT50001000005993287000152 </div>
        </div>
        <br>
        
        <button class ="accept" id="contribute">Contribuir</button>
      </div>
    </form>
  </div>

  <div class="product_container_column">
    {% for image in product.images %}
      <div class="mySlides">
        <img src="{{url_for('static',filename=image.path)}}" style="width:100%">
      </div>
    {% endfor %}

    {% if product.images|length > 1 %}
    <a class="prev" onclick="plusSlides(-1)">❮</a>
    <a class="next" onclick="plusSlides(1)">❯</a>
  
    <div class="row product_caroussel">
      {% for image in product.images %}
      <div class="column_product">
        <img class="demo cursor" src="{{url_for('static',filename=image.path)}}" style="height:3rem" value="{{loop.index}}" onclick="currentSlide(this)">
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
</div>
  
{% endblock %}
