@media(max-width: 47.99em){
    .navibar {
        font-size:1rem!important;
        background: rgba(0, 0,0, 0)!important;
    }

    .main-logo {
        display: none!important;
    }

    .collapse:not(.show) {
        display: none!important;
    }

    .navbar-toggler{
        display: block!important;
    }

    .product_background{
        padding-top: 4rem!important;
    }

    .c-main-nav__block{
        flex-direction: column!important;
        background-color: white!important;
        width: 100%;
    }

    .c-main-nav__block:not(.show){
        display: none!important;
    }

    .nav_logo{
        display: none!important;
    }

    .confirmations_form_container{
        width: 80%!important;
    }

    .navbar-dark .navbar-toggler {
        background-color: rgba(0,0,0,.4);
        color: rgba(255,255,255,.9)!important;
        width: 4rem;
    }

    .navibar a {
        color: black!important;
    }

    .text_wed_align{
        padding-top: 0rem!important;
        font-size: 3rem!important;
        text-align: right!important;
    }

    .index_background{
        display: flex!important;
        align-items: flex-end!important;
        background: url('/static/images/index_background_phone.jpg')!important;
        min-height: 100vh!important;
        background-position: top!important;
        background-repeat: no-repeat!important;
        background-size: cover!important;
        background-attachment: scroll!important;
    }

    .info_align_right .text_wed_info_block{
        padding-right: 0!important;
        padding-top: 0!important;
    }

    .info_align_left .text_wed_info_block{
        padding-left: 0!important;
        padding-top: 0!important;
    }

    .flexi-box {
        flex-direction: column;
    }

    #white_back {
        padding-top: 0rem!important;
        flex-direction: column!important;
    }

    #titulo_missa{
        font-size: 2rem!important;
    }

    #descricao{
        font-size: 1rem!important;
    }

    #indicacoes{
        font-size: 1rem!important;
    }

    .direita{
        width: 95%!important;
        margin-left: 0!important;
        padding-bottom: 1rem!important;
    }

    .esquerda{
        width: 95%!important;
        margin-right: 0!important;
        padding: 3rem!important;
    }

    #contribute{
        width:100%!important;
    }

    .product_container_column{
        width: 95%!important;
        padding: 1rem!important;
        margin: 0!important;
    }

    .boxed {
        width: 90%!important;
    }

    .row{
        justify-content: center;
    }
    .fundo_products{
        padding-top: 4rem;
    }

    .contributions_box {
        justify-content: center!important;
    }

    .products_background{
        background: rgb(167 167 192)!important;;
    }

    .accordion-content{
        margin: 1rem!important;
    }

    .index_block_text{
        padding-bottom: 0!important;
    }

    .productSliddingDivs {
        transition: 1.5s all ease!important;
        transform: translateX(100%);
    }
    
    .productSliddingDivs:nth-of-type(odd) {
        transform: translateX(-100%);
    }
    
    .productSliddingDivs:nth-of-type(odd).show, .productSliddingDivs.show {
        transform: translateX(0);
    }
}