{% extends 'layout.html' %}

{% block content %}
<script src="{{ url_for('static', filename='js/index.js')}}" defer></script>
    <div class="indexContainer">
        <div class="indexContent index_background loading_animation">
            <div class="text_wed_align">
                <div class="loading_animation" id="website_title"> <b>{{information['title']}} </b></div>
                <div class="loading_animation extra_info">23/7, 15:00</div>
                {% set url = url_for('confirmations.confirmation') %}
                <button class="rsvp_button" data-url="{{url}}" onclick="redirectTo(this)"> RSVP </button>
            </div>
        </div>
        <div class="text_wed_info_background">
            <div class="text_wed_info side_by_side">
                <div class="image_align_left">
                    <div class="text_wed_info_img slidingAppearingDivsLeft church_image_container">
                        <img src="{{url_for('static',filename='images/church.png')}}" alt="">
                    </div>
                </div>
                <div class="info_align_right">
                    <div class="text_wed_info_block index_block_text">
                        <p id="indicacoes" class="slidingAppearingDivsLeft"><b>Mosteiro de <br> São Pedro de Cête</b></p>
                        <button class="show_map slidingAppearingDivsLeft" onclick="revealMap(this,'map_church')"> Mostrar mapa</button>
                        <iframe id="map_church" class="slidingAppearingDivsLeft" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d192124.2817694121!2d-8.66748378270969!3d41.2012401778593!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd248ee3a732ee97%3A0xa5b3476db195891f!2sMosteiro%20de%20S%C3%A3o%20Pedro%20de%20C%C3%AAte!5e0!3m2!1spt-PT!2spt!4v1654720070955!5m2!1spt-PT!2spt"
                        width="90%" height="100%" style="border:0;display: none;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
            <div class="index_car_container slidingAppearingDivsRight" id="car_container">
                <img id="car" src="{{url_for('static',filename='images/car.png')}}" alt="">
            </div>
            <div class="appearingDivs">
                <div class="text_wed_info">
                    <div class="info_align_left">
                        <div class="text_wed_info_block index_block_text">
                            <p id="indicacoes" class="slidingAppearingDivsLeft"> Quinta de Segade, <br> Penafiel </p>
                            <button class="show_map slidingAppearingDivsRight" onclick="revealMap(this,'map_ribeiro')"> Mostrar mapa</button>
                            <iframe id="map_ribeiro" class="slidingAppearingDivsRight" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d384126.547651335!2d-8.753312037309177!3d41.222017737908885!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd24917c6a9fc9b3%3A0xca747c16a9de30c1!2sQuinta%20de%20Segade!5e0!3m2!1spt-PT!2spt!4v1654720137204!5m2!1spt-PT!2spt" 
                            width="90%" height="100%" frameborder="0" style="border:0;display: none;" allowfullscreen="" aria-hidden="false" tabindex="0", padding-bottom="30px"></iframe>
                        </div>
                    </div>
                    <div class="image_align_right">
                        <div class="text_wed_info_img full_width_image sliddingDivs">
                            <img src="{{url_for('static',filename='images/house.png')}}" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}