{% extends 'layout.html' %}
{% import 'macros/products.html' as products_macro %}

{% block content %}
<script src="{{ url_for('static', filename='js/edit_products.js')}}" defer></script>

<div class="product_background">
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Price</th>
            <th>Price paid</th>
            <th>Store</th>
            <th>For Honeymoon</th>
        </tr>
    </thead>
    <tbody>
        {% for product in products %}
            <tr>
                <td class="no_padding"><a href="{{url_for('edit.product',product_id=product.id)}}">{{product.name}}</a></td>
                <td class="no_padding">{{product.description}}</td>
                <td class="no_padding">{{product.price}}</td>
                <td class="no_padding">{{product.price_paid}}</td>
                <td class="no_padding">{{product.store}}</td>
                <td class="no_padding"><input type="checkbox" value="0" {{ "checked" if product.for_honeymoon }}></td>
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}
